
.gmail-contact-panel .badge {
  fill: #0266C8;  // google svg icon
}

.gmail-contact-panel {
  .head {
    height: 20px;
    margin: 4px 0;
  }

  .badge {
    display: inline-block;
    border: 1px #0266C8 solid;
    border-radius: 3px;
    padding: 3px;
    height: 14px;
    margin-right: 4px;
  }
}

.toolbar > * {
  margin-left: 4px;
}

.crm-template {

  position: absolute;
  right: 2px;

  .goog-menu-button-outer-box {
    border: 0;
    background: none;
  }
  .goog-menu-button-inner-box {
    border: 0;
    background: none;
  }
  .goog-menu-button {
    background: none;
  }
}