

.gmail-contact-panel {
  .head {
    height: 20px;
    margin: 4px 0;
  }
}

.crm-template {

  position: absolute;
  right: 2px;
  overflow: hidden;
  background: white;

  > .goog-menu-button {
    background: none;
    border-radius: 3px;
  }

  > .goog-menu-button:hover {
    background: #e8e8e8;
  }

  .goog-menu-button-outer-box {
    border: 0;
    background: none;
  }
  .goog-menu-button-inner-box {
    border: 0;
    background: none;
  }

}


.suggestion-input {
  text-align: left;
  overflow: hidden;
  padding: 3px 3px;
  resize: none;
  width: 40px;
  color: black;
  height: 16px !important;
  background-color: white;
  border: 0;
  font-size: 13px;
  outline: none;
  box-shadow: none;
}


.suggestion-button {
  svg {
    fill:  #e8e8e8;
  }

  .goog-custom-button-outer-box {
    border: 0;
    background: none;
  }

  .goog-custom-button-inner-box {
    border: 0;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.goog-custom-button {
    border: 0;
    background: none;
    vertical-align: top;
    margin-top: 4px;
  }

  &.goog-custom-button.goog-custom-button-checked {
    svg {
      fill:  black;
    }
  }

  &:hover {
    background-color: #f7f7f7; // override svg-button hover state
  }
}

.tracking-button {
  svg {
    fill:  #e8e8e8;
  }

  .goog-custom-button-outer-box {
    border: 0;
    background: none;
  }

  .goog-custom-button-inner-box {
    border: 0;
    background: none;
  }

  &.goog-custom-button {
    border: 0;
    background: none;
  }

  &:hover {
    background-color: #f7f7f7; // override svg-button hover state
  }
}


.tracking-button:hover:not(.goog-custom-button-checked), .tracking-button:hover:not(.tracked) {
  svg {
    fill: #dddddd;
  }
}

.tracking-button.goog-custom-button-checked, .tracking-button.tracked {
  svg {
    fill:  #00ff00;
  }
}

.tracking-button.goog-custom-button-checked:hover, .tracking-button.tracked:hover {
  svg {
    fill:  #00ff00;
  }
}

.tracking-button.goog-custom-button-checked.donottrack, .tracking-button.tracked.donottrack {
  svg {
    fill:  #ff0000;
  }
}

.tracking-button.goog-custom-button-checked.donottrack:hover, .tracking-button.tracked.donottrack:hover {
  svg {
    fill:  #ff0000;
  }
}