
.google.badge-icon {
  fill: #0266C8;  // google svg icon
}

.badge-icon {
  display: inline-block;
  border: 1px #0266C8 solid;
  border-radius: 3px;
  padding: 3px;
  height: 14px;
  margin-right: 4px;
}

.gmail-contact-panel {
  .head {
    height: 20px;
    margin: 4px 0;
  }
}

.toolbar > * {
  margin-left: 4px;
}

.crm-template {

  position: absolute;
  right: 2px;
  overflow: hidden;
  background: white;

  > .goog-menu-button {
    background: none;
    border-radius: 3px;
  }

  > .goog-menu-button:hover {
    background: #e8e8e8;
  }

  .goog-menu-button-outer-box {
    border: 0;
    background: none;
  }
  .goog-menu-button-inner-box {
    border: 0;
    background: none;
  }

}

.tracking-button {
  svg {
    fill:  #e8e8e8;
  }

  .goog-custom-button-outer-box {
    border: 0;
    background: none;
  }

  .goog-custom-button-inner-box {
    border: 0;
    background: none;
  }
}

.tracking-button.goog-custom-button-checked, .tracking-icon-tracked {
  svg {
    fill:  #00ff00;
  }
}

.gmail-header-icon > svg {
  padding: 0 2px;
}

svg.tracking-icon-has-result {
  fill:  #00ff00;
}

svg.tracking-icon-no-result {
  fill: #add8e6;
}

.tracking-button.goog-custom-button {
  border: 0;
  background: none;
}

.tracking-button:hover {
  background-color: #f7f7f7; // override svg-button hover state
}

.tracking-button:hover:not(.goog-custom-button-checked) {
  svg {
    fill: #dddddd;
  }
}