

.sugarcrm-desktop {

  > .content {

  }

  .tile-container {
    display: inline-block;
    width: 56px;
    height: 40px;
    margin: 4px;
    text-align: center;

  }

  .tile-container:not(:hover) .favorite {
    display: none;
  }

  .record-tile {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    padding: 4px;
    margin: 2px 8px;
    text-align: left;

    .favorite {
      cursor: pointer;
      position: relative;
      right: -24px;
      bottom: -4px;
      fill: goldenrod;

    }
    .symbol {
      color: white;
      text-align: left;
      cursor: pointer;
    }
    .count {
      position: absolute;
      top: -6px;
      right: -6px;
      color: white;
      font-size: 9px;
      display: block;
      background-color: red;
      border-radius: 12px;
      min-width: 12px;
      height: 12px;
      padding: 0;
      margin: 0;
      font-weight: normal;
      text-align: center;
      cursor: pointer;
    }
  }

  .label {
    text-align: center;
    font-size: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
}


.module-page {
  > .head {
    .search-button {
      .goog-custom-button-inner-box {
        padding: 1px 4px;
      }
    }

    .wgui-textinput {
      vertical-align: middle;
      INPUT {
        width: 107px;
      }

      .wgui-textinput-clear {
        top: 2px;
      }
    }
  }
  > .content {
    min-width: 150px;
  }  
}
