

.sugarcrm-desktop {
  > .content {

  }

  .tile-container {
    display: inline-block;
    width: 56px;
    height: 40px;
    margin: 4px;
    text-align: center;
  }

  .record-tile {
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 3px;
    padding: 4px;
    margin: 2px 8px;
    text-align: left;
    cursor: pointer;

    .symbol {
      color: white;
      text-align: left;
    }
  }

  .label {
    text-align: center;
    font-size: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


.module-page {
  > .content {
    min-width: 150px;
  }  
}
