
.upload-dialog, .archive-dialog {
  > div {
    display: flex;

    > :first-child {
      padding: 3px 0 3px 3px;
      margin: 5px 1px 3px 0;
      width: 10em;
    }
    > * {
      align-self: flex-start;
    }
    .value {
      flex-grow: 1;
    }
    .spacer {
      padding: 3px 0 3px 0;
      margin: 5px 0 3px 0;
      outline: 0;
    }
  }

  UL {
    list-style: none;
    padding-left: 0;

    INPUT[type=text] {
      width: 90%;
      box-sizing: border-box;
    }
  }

  .info {
    span {
      font-style: italic;
    }

    .word-count {
      font-style: normal;
      font-weight: bold;
    }
  }

  H4 {
    margin-bottom: 0;
  }

}

.relationships-panel {

  .suggestions {
    margin-top: 8px;

    UL {
      display: inline
    }

    LI {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      A {
        text-overflow: ellipsis;
        max-width: 10em;
        display: inline-block;
        overflow-x: hidden;
      }
    }

    LI + LI:before {
      content: ", ";
    }
  }
}

.update-option {
  > DIV {
    margin: 16px 2px;
  }

  .info {
    max-height: 12em;
    overflow-y: auto;
  }

  LABEL.default-option {
    font-weight: bold;
  }

  .update-strategy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > * {
      padding: 2px 8px;
    }
  }
}