
.sidebar {
    font-size: 13px;
    font-family: arial,sans-serif;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.gmail-header-widget {
    display: inline-block;
}

.gmail-header-menubutton {
    height: 21px;
    line-height: 21px;
    border-radius: 2px;
    margin-right: 0;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);

    .goog-css3-button-caption > * {
        vertical-align: middle;
    }

    .goog-css3-button-dropdown {
        vertical-align: middle;
    }
}

.gmail-header-widget {
    /* FIXME: does not work
    .goog-css3-button-hover {
        border-color: #4d90fe;
    }
    */
}
