
$hud-button-left: 16px;
$hud-button-width: 21px;
$hud-button-height: 38px;

#sticky-hud-base {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 10;

  .record-panel {
    .content {
      max-height: 250px;
    }
  }
}

.hud-button {
  position: relative;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  text-align: center;
  width: $hud-button-width;
  height: $hud-button-height;
  outline: 0;
  padding: 6px 0 0 2px;
  border: 1px solid;
  border-color: #DDD #FFFFFF #DDD #DDD;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 1;

}

.hud-button .logo-small {
  margin-top: 4px;
}

#sticky-hud-base.open .hud-button {
  left: 26px - $gmail-sidebar-width - $hud-button-width;
}

#sticky-hud-base:not(.open) .hud-button:hover {
  width: $hud-button-width + 4px;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}


#sticky-hud-base.invalid:not(.open) .hud-button:not(:hover) {
  left: 22px;
}


.hud-popup {
  padding: 0 4px 4px 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  background-color: white;
  margin-left: 30px - $gmail-sidebar-width;
  width: $gmail-sidebar-width;
  min-height: $hud-button-height + 2px;
  max-height: 400px;
  display: none;
  opacity: 1;
  position: relative;

  .top-resizer {
    cursor: row-resize;
    height: 2px;
  }
}


.popup-container {
  display: flex;
  flex-direction: column;

  .popup-content {
    flex-grow: 1;
  }

  .popup-footer {
    align-self: flex-end;
  }
}


#sticky-hud-base.open .hud-popup {
  margin-top: - $hud-button-height - 10px;
  display: inherit;
}

.popup-footer {
  border-top: 8px;
  font-size: 11px;
  color: #767676;
  width: 100%;
  background-color: white;

  a:not(:hover) {
    text-decoration: none;
    color: #767676;
  }

}

.popup-footer-bar {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .center-item {

  }
  .right-item {
    align-self: flex-end;

    > *:not(:last-child) {
      padding-right: 4px;
      border-right: solid gray thin;
    }
    > *:last-child {
      padding-left: 4px;
    }
  }
}

.arrow-box {
  padding-top: 0;
}

.invalid-login-panel {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(241, 241, 241);

}

.feedback-panel {
  margin-top: 8px;
  border: thin solid lightblue;
  padding: 2px;
  > div {
    margin: 4px 0;
  }
  textarea {
    width: 100%;
    box-sizing: border-box;
    height: 5em;
  }
}

.cache-update-display {
  cursor: pointer;

  .count {
    display: inline-block;
    font-size: 70%;
    line-height: 70%;
    .sup {
      position: relative;
      top: 0;
    }
    .sub {
      position: relative;
      bottom: -3px;
    }
  }
}

.cache-update-display-body {
  border: thin lightblue solid;
  margin-top: 4px;
  color: black;
  UL {
    list-style: none;
    padding-left: 4px;
  }
}

