
.iconic {
  width: 16px;
  height: 16px;
}

.icons {
  margin: auto auto;
  display: inline-block;
  width: 16px;
  height: 16px;
}


.icons-small {
  margin: auto auto;
  display: inline-block;
  width: 14px;
  height: 14px;
}


.logo-small {
  @extend .icons;
  background: url('chrome-extension://__MSG_@@extension_id__/image/logo-16.svg') left center no-repeat;
}

.icon-box {
  display: inline-block;
  margin: auto auto;
}





