

.search-result {
    padding: 4px;
}

.search-panel > .content-wrapper {
  max-width: 20em;
  padding: 4px;
}

.search-panel > .content-wrapper > .content {
  max-height: 200px;
  overflow: auto;
}

.snippet-panel {
  > .content {
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    > UL {
      list-style: none;
      padding-left: 0;
    }
  }
}





