
$tooltip-col-witth: 24px;

.social-widget {
  border-bottom: solid thin #d3d3d3;
}

.social-bar {

  max-width: 238px; // 2 px less than 24*10

  .icons {
    fill: gray;
  }

  .tooltip-detail {
    min-width: 200px;
    max-width: 400px;
    opacity: 1;
    background-color: #ffffff;
    z-index: 1001;
    border: solid thin gray;
    border-radius: 4px;
    padding: 4px;

    .header {
      display: flex;
      flex-direction: row;

      .logo {
        min-width: 48px;
        padding: 2px;

        img {
          max-width: 48px;
        }
      }

      .content {
        .name {
          font-weight: bold;
          padding: 0 0 4px 0;
          a {
            text-decoration: none;
          }
        }

        flex-shrink: 1;
        flex-grow: 1;
        padding: 2px;
        font-size: 90%;
      }

      .head-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 4px;
      }

      .followers, .following {
        color: #4099FF;
        font-weight: bold;
      }

      .head-footer > * {
        padding: 0 4px;
      }

      .head-footer > *:last-child {
        padding-right: 0;
      }

    }

    .content {

      .tweet-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 4px;
      }

      .tweet-footer > * {
        padding: 0 4px;
        font-size: 90%;
        font-style: italic;
      }

      .tweet-footer > *:last-child {
        padding-right: 0;
      }

    }
  }

  .col-1.tooltip-detail {
    left: -$tooltip-col-witth;
  }
  .col-2.tooltip-detail {
    left: (-$tooltip-col-witth) * 2;
  }
  .col-3.tooltip-detail {
    left: (-$tooltip-col-witth) * 3;
  }
  .col-4.tooltip-detail {
    left: (-$tooltip-col-witth) * 4;
  }
  .col-5.tooltip-detail {
    left: (-$tooltip-col-witth) * 5;
  }
  .col-6.tooltip-detail {
    left: (-$tooltip-col-witth) * 6;
  }
  .col-7.tooltip-detail {
    left: (-$tooltip-col-witth) * 7;
  }
  .col-8.tooltip-detail {
    left: (-$tooltip-col-witth) * 8;
  }

  .tooltip-container.working .icons {
    fill: rgba(0, 255, 0, 0.8);
  }

  .tooltip-container.error .icons {
    fill: rgba(255, 0, 0, 0.8);
  }

  .tooltip-container.alert .icons {
    fill: rgba(255, 255, 0, 0.8);
  }

  .tooltip-container.empty .icons {
    fill: black;
  }

  .tooltip-container.exist .icons {
    fill: #006400;
  }

  .tooltip-container.twitter.exist .icons {
    fill: #4099FF;
  }

  .tooltip-container.linkedin.exist .icons {
    fill: #4875B4;
  }

  .tooltip-container.googleplus.exist .icons {
    fill: #D34836;
  }

  .tooltip-container.angellist.exist .icons {
    fill: #39ffca;
  }

  .tooltip-container.facebook.exist .icons {
    fill: #3b5998;
  }

  .tooltip-container.pinterest.exist .icons {
    fill: #C92228;
  }

  .tooltip-container.meetup.exist .icons {
    fill: #c41200;
  }

  .tooltip-container.yelp.exist .icons {
    fill: #e92626;
  }
  .tooltip-container.youtube.exist .icons {
    fill: #c4302b;
  }
  .tooltip-container.reddit.exist .icons {
    fill: #cee3f8;
  }
  .tooltip-container.tumblur.exist .icons {
    fill: #35465c;
  }
  .tooltip-container.foursquare.exist .icons {
    fill: #f94877;
  }
  .tooltip-container.flickr.exist .icons {
    fill: rgb(39, 126, 210);
  }
  .tooltip-container.friendfeed.exist .icons {
    fill: #5588c7;
  }
  .tooltip-container.blogger.exist .icons {
    fill: #F05222;
  }
  .tooltip-container.wordpress.exist .icons {
    fill: #2984b8;
  }
  .tooltip-container.quora.exist .icons {
    fill: #CA4638;
  }
  .tooltip-container.myspace.exist .icons {
    fill: #043d99;
  }
  .tooltip-container.klout.exist .icons {
    fill: #d23b0f;
  }
  .tooltip-container.yahoo.exist .icons {
    fill: #7B0099;
  }
  .tooltip-container.delicious.exist .icons {
    fill: #205cc0;
  }
  .tooltip-container.vimeo.exist .icons {
    fill: #1ab7ea;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
  }

  .tooltip-host {
    position: relative
  }

  .tooltip-container .tooltip-detail {
    display: none;
    position: absolute;

  }

  .tooltip-container:hover .tooltip-detail {
    display: block;
    bottom: 22px;
  }

  .facebook .svg-button, .pinterest .svg-button, .meetup .svg-button  {
    cursor: default; // these button has no action
  }

  UL.tweets {
    list-style: none;
    -webkit-padding-start: 0;
    max-height: 150px;
    overflow-y: scroll;
    font-size: 90%;
  }

  .tweet-item {
    margin: 8px 0;
  }

}

.social-start-menu {
  .sources a {
    padding: 4px;
  }

  > .content {
    max-height: 6em;
  }
}