

.sugar-panel {

  clear: both;

  .main-title {
    margin: 4px;
    overflow: hidden;
    vertical-align: middle;
  }

  .icon-box {
    vertical-align: middle;
    padding-right: 4px;
  }
}

.sugar-panel-content {
  margin: 2px 0;
}


.sugar-body .goog-tab {
    width: 16px;
    height: 16px;
}

.sugar-panel {


}

.gmail-cmd-panel {
    display: inline-block;
    padding: 4px;
}


.widget-content {
  SUMMARY {
    font-weight: bold;
  }
  SUMMARY:after {
    float: left;
    margin-right: 4px;
  }
}



