.sync-page {
  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4px;
    .title {
      font-weight: bold;
      font-size: 120%;
    }

    .count {
      padding: 4px 0;
    }
  }

  UL.infinite-scroll  {
    position: absolute;
    top: 70px; bottom: 20px;
    left: 0; right: 0;
    overflow: auto;
  }

  LI.sync-pair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4px;
    margin: 4px 0;
    .primary {
      width: 300px;
    }
    .secondary {
      flex-grow: 0.8;
      flex-shrink: 0.8;

      > * > .header {
        margin: 2px 0;
      }
    }
  }

  LI.sync-pair:nth-child(odd) {
    background-color: azure;
  }

}

.gdata-sync-panel {
  > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0;
  }
}