

.tracking-result {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px;

  > * {
    align-self: center;
    padding: 2px;
  }

  svg {
    vertical-align: middle;
  }
}



.tracking-sidebar {
  height: 100%;

  .head {
    height: 24px;
    padding: 2px 0;

    .toolbar > * {
      display: inline-block;
    }

    .toolbar {
      input {
        width: 80px
      }
      .more, .less {

      }
      .more-less-toggle {
        float: right;
      }

      .stat-panel {
        display: inline-block;
        min-width: 18px;
        height: 18px;
        text-align: center;
        vertical-align: middle;
        border: solid thin gray;
        border-radius: 2px;
        line-height: 18px;
        margin-top: 2px;
        cursor: default;
      }

    }
  }

  .content {
    height: 250px;
    overflow-y: auto;
  }

  .datalist {

  }
}

.tracking-feed {


  .feeditem {
    padding: 4px;
    height: 1em;
    overflow: hidden;
    cursor: default;
  }
}

.tracking-datalist {


  .datalist-item {
    padding: 4px;

    .stats {
      flex-shrink: 0;
      padding-left: 4px;
      cursor: pointer;
    }

    .lastopen {
      white-space: pre;
      color: gray;
      font-style: italic;
    }

    .label {
      flex-shrink: 1;
    }

    .center {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .symbol {
      font-weight: bolder;
      font-style: italic;
    }

    .subject {
      color: gray;
    }

    .detail > * {
      display: flex;
      flex-direction: row;
      overflow: visible;
      flex-wrap: nowrap;
    }

    .detail {
      .hit-list {
        display: flex;
        flex-direction: column;
      }
      .hit-list .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;

        .center {
          flex-grow: 1;
          flex-shrink: 1;
          text-overflow: ellipsis;

        }

      }

      .item > * {
        white-space: nowrap;
        word-break: break-all;
        overflow: hidden;
        min-width: 16px;
        display: inline-block;
        padding: 0 1px;
      }
    }
  }

  .datalist-item > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 1.3em;
  }

  .datalist-item > * > * {

    overflow: hidden;

  }



}

