

.tracking-result {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px;

  > * {
    align-self: center;
    padding: 2px;
  }

  svg {
    vertical-align: middle;
  }
}



.tracking-sidebar {
  height: 100%;

  .content {
    height: calc(100% - 20px);
    overflow-y: auto;
  }

  .datalist {

  }
}

.tracking-feed {


  .feeditem {
    padding: 4px;
    height: 1em;
    overflow: hidden;

  }
}

.tracking-datalist {


  .datalist-item {
    padding: 4px;

    .stats {
      flex-shrink: 0;
      padding-left: 4px;
      cursor: default;
    }

    .lastopen {
      white-space: pre;
      color: gray;
      font-style: italic;
    }

    .label {
      flex-shrink: 1;
    }

    .center {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .symbol {
      font-weight: bolder;
      font-style: italic;
    }

    .subject {
      color: gray;
    }
  }

  .datalist-item > * {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 1.3em;
  }

  .datalist-item > * > * {

    overflow: hidden;

  }

}

