.tracking-panel {

  .content {
    padding: 4px;
  }
  .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .slot {
      text-align: center;
      padding: 4px 8px;

      .value-holder {
        font-size: 200%;
        font-weight: 400;
      }

      .percent {
        padding-left: 4px;
      }
    }
  }

  .slot-6 .value {
    font-size: 70%;
  }

  .pear-grid-row-header {
    padding-top: 6px;
    font-weight: bold;
  }

  .sep-header {
    margin-top: 16px;
    border-top: thin solid #d3d3d3;

    h3 {
      margin-top: 2px;
    }
  }

  .tracking-detail-panel {
    padding-left: 24px;

    .pear-grid-row-header {
      background-color: mintcream;
    }
  }
}

.tracking-result {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px;

  > * {
    align-self: center;
    padding: 2px;
  }

  svg {
    vertical-align: middle;
  }
}

.ydn-anchor-reply {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px 6px 0 2px;
}

.tracking-table-heading {
  .toolbar {
    padding-bottom: 4px;
    overflow: hidden;

    .right-bar {
      float: right;
    }
  }
}

.tracking-datalist {
  .feeditem {
    padding: 4px;
    height: 1em;
    overflow: hidden;

  }
}

.tracking-datalist {
  .datalist-item {
    padding: 4px;

    .stats {
      flex-shrink: 0;
      padding-left: 4px;
      cursor: default;
    }

    .lastopen {
      white-space: pre;
      color: gray;
      font-style: italic;
    }

    .label {
      flex-shrink: 1;
    }

    .center {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .symbol {
      font-weight: bolder;
      font-style: italic;
    }

    .subject {
      color: gray;
    }
  }

  .datalist-item > * {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 1.3em;
  }

  .datalist-item > * > * {

    overflow: hidden;

  }

}

.pear-grid-cell-data-content.no-border,
.pear-grid-row-highlight .pear-grid-cell-data-highlight .pear-grid-cell-data-content.no-border {
  border: 0;
}