


.wgui-textinput-clear {
  position: absolute;
  right: 5px;
  top: 8px;
  padding-top: 1px;
  padding-left: 5px;
  display: none;
  color: #808080;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
}

.wgui-textinput-clear:hover {
  font-weight: bold;
  color: white;
  background-color: #808080;
}

.wgui-textinput-outer-box:hover .wgui-textinput-clear {
  display: inherit;
}