@import "base";
@import "activity";
@import "details-theme";
@import "maia";
@import "goog";
@import "menubar";
@import "record/record";
@import "search";
@import "sugar";
@import "user-setting";
@import "statusbar";
@import "wgui";
@import "tracking-panel";
@import "font-awesome-part";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  font-size: 13px;
}

.left {
  float: left;
  display: inline-block;
  z-index: 0;
}

.right {
  float: right;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  padding-right: 4px;
}

header {
  position: fixed;
  top: 0;
  overflow: visible;
  opacity: 1.0;
  background: white;
  z-index: 10;
  height: 26px;
  width: 100%;
  margin: 0;
}

input[type=input] {
  width: 25em;
}

#content {
  position: absolute;
  top: 30px;
  width: 100%;
}

table {
  border-spacing: 8px 4px;
  border-collapse: separate;
}

.new-sugar {
  margin: 16px 8px 8px 8px;
}

.new-sugar h3 {
  font-size: 14px;
  margin-bottom: 0;
}

.sugar-login {
  margin: 8px 0;
}

div.sugar-login > div {
  padding: 4px 0;
}

div.sugar-login input {
  min-width: 25em;
}

.error {
  color: red;
}

footer {
  border-top: #d3d3d3 thin solid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2px 2px 2px;
}

.audit-log .message {
  color: gray;
  font-size: 90%;
}

#app-content {
  margin-top: 2.6em;

  section {
    padding: 2px 4px;
  }
}

.widget-content {
  padding: 0 8px;
}



