@import "base";
@import "goog";
@import "icons";
@import "statusbar";


body.popup {
  min-height: 5em;
  min-width: 20em;
}

#content {

}

#content > ul {
  padding-left: 4px;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.2em;
}

section.main {
  margin-top: 1.7em;
}

footer {
  border-top: #d3d3d3 thin solid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

#status-bar-content span {
  padding: 0 2px;
}

