
// display logic
.record-body {
  .field.empty {
    display: none;
  }
}

.record-body.edit {
  DIV.field.empty:not(.normally-hide) {
    display: flex;
  }
}

.record-body {
  .field, .field-like {
    INPUT[type=text], INPUT[type=email], INPUT[type=tel], INPUT[type=number], INPUT[type=datetime-local], INPUT[type=date], TEXTAREA {
      padding: 1px 0px 1px 1px;
      margin: 2px 0 2px 0px;
      border: 1px transparent;
    }
  }

  .field-label {
    padding: 1px 0px 1px 1px;
    margin: 2px 0 2px 0px;
    border: 1px transparent;
    display: inline-block;
    vertical-align: middle;
  }
}

.record-body > .field > INPUT.enum {
    width: 2em;
    background: none repeat scroll 0 0 transparent;
    border: 0;
    color: #000000;
}


/*
 * make input look like label. This setting is obtained from Gmail contact editor.
*/
.record-body .field > INPUT, .record-body .field-like > INPUT {
    background-color: transparent;
    vertical-align: text-top;
}

.record-body .field > *, .record-body .field-like > * {
    box-sizing: border-box;
}

.record-body.view .field TEXTAREA {
    margin: 2px;
    border: 0;
    padding: 1px 2px;
    background-color: transparent;
    resize: none;
}


.record-body span.field ~ span.field {
    padding-left: 4px;
}


.showonhover-field {
  display: none;
}

.field:hover .showonhover-field {
  display: inline-block;
}

.field-edit-dialog {
  table {
    padding: 20px 65px 10px 65px;
    border-collapse: separate;
    border-spacing: 2px;
  }

  td:first-child {
    text-align: right;
    vertical-align: top;
    line-height: 2em;
  }

  td:last-child {
    text-align: left;
  }

  .value input, .value textarea {
    width: 100%;
  }
}


.field-edit-dialog .field {
  display: table-row;
}

.ydn-crm {

  DIV.field { // there are TR
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    INPUT[type=text], INPUT[type=email], INPUT[type=tel], INPUT[type=number], INPUT[type=datetime-local], TEXTAREA  {
      flex-grow: 1;
    }

  }

  .field {

    .value:required {
      box-shadow: -2px 0 0 0 red;
    }
  }

  .field.inline {
    display: inline-block;
  }


  INPUT.value.double-digit {
    max-width: 3em;
    text-align: right;

  }


  .field:hover > sup.name {
    display: inline !important;
  }


}

