

.record-group {
  a.null {
    text-decoration: none !important;
  }

  /*
   * Prevent Superscripts and Subscripts from Affecting Line-Height
   * http://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
   */
  sub { top: 0.4em; }

  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }

  .header.expander {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-label {
      cursor: default;
    }

    .center {
      flex-shrink: 1;
    }
  }
}

/*
.record-group.email span:not(:first-child):before, .record-group.list span:not(:first-child):before {
  content: ', ';
}
*/