

.record-header {

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    .center {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .title {
    vertical-align: middle;
    line-height: 20px;
    text-overflow: ellipsis;
  }

  .icon.small {
    width: 15px;
    height: 15px;
    padding: 1px;
  }

  .link {
    display: none;
  }

  .link.synced {
    display: inline;
    width: 20px;
    height: 16px;
    vertical-align: middle;
    background: url('chrome-extension://__MSG_@@extension_id__/image/sync.svg') left center no-repeat;
  }
}


.record-header .icon, .record-header-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 2px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 10px;
  margin: 0 4px 0 0;
  border: none;
  color: #ffffff;
  vertical-align: middle;
}

.record-header:hover .link {
  display: inline !important;
}

.edit-button {
  padding: 2px 4px;
}

.edit-button.active {

}

