/* CSS related to specific modules */

$color-accounts: #37880e;
$color-bugs: #e61718;
$color-calls: #0b3a72;
$color-calendar: #125db8;
$color-campaigns: #788d0e;
$color-campaign-log: #60710b;
$color-cases: #b81213;
$color-contacts: #245a09;
$color-documents: #81380f;
$color-emails: #aa1466;
$color-email-text: $color-emails;
$color-email-templates: $color-emails;
$color-employees: #313130;
$color-files: #984112;
$color-forecasts: #af4b14;
$color-kb-documents: #6b2e0c;
$color-leads: #448fec;
$color-meetings: #e6af17;
$color-notes: #129cb7;
$color-opportunities: #7115ce;
$color-prospects: #7d0e4b;
$color-prospect-lists: $color-prospects;
$color-reports: #c65517;
$color-revenue-line-items: #4b0e88;
$color-quotes: #0e7488;
$color-targets: #931159;
$color-tasks: #d81982;
$color-users: #313130;
$color-workflow: #414c08;
