/* Record */

@import "field";
@import "group";
@import "module";
@import "header_footer";
@import "body";

.record-panel.empty:not(.edit) {
  display: none;
}

.record-panel {

  > .content {

    > .secondary {


    }

    > .secondary:not(:hover) .record-panel:not(.active) .content {
      display: none;
    }
  }

  > .record-header {
    > .title {
      overflow-x: hidden;
    }
  }
}

.secondary {
  > section {
    margin: 4px 0;
    > .header {
      font-style: italic;
      color: gray;
      border-bottom: darkgreen solid thin;
    }
    > ul {
      list-style: none;
      padding-left: 0;
      margin: 4px 0;

      > li {
        margin: 2px 0;
      }
    }
  }

  > .activity {

  }
}

.record-item {
  > .content {
    padding-left: 27px;
    font-size: 90%;
    color: gray;
    margin: 4px 0;
  }
}

.secondary-hovercard {
  border: solid 4px #69748C;
  width: 300px;
  min-height: 115px;
  background-color: white;
  padding: 4px;
}

.record-panel.new-record {
  > .content {
    overflow-y: auto; // prevent overflowing
  }
}



#field-table {
  td {
    text-align: center;
  }
  td:last-child {
    text-align: left;
  }
}

.select-record {

}


#field-display-dialog {
  > .content {
    overflow: auto;
    max-width: 400px;
    max-height: 400px;
  }
}

.upload-dialog, .archive-dialog {
  > div {
    display: flex;

    > :first-child {
      padding: 3px 0 3px 3px;
      margin: 5px 1px 3px 0;
      width: 10em;
    }
    > * {
      align-self: flex-start;
    }
    .value {
      flex-grow: 1;
    }
    .spacer {
      padding: 3px 0 3px 0;
      margin: 5px 0 3px 0;
      outline: 0;
    }
  }

  UL {
    list-style: none;
    padding-left: 0;

    INPUT[type=text] {
      width: 90%;
      box-sizing: border-box;
    }
  }

  .info {
    font-style: italic;

    .word-count {
      font-style: normal;
      font-weight: bold;
    }
  }

  H4 {
    margin-bottom: 0;
  }

}