/* Record */

@import "field";
@import "group";
@import "module";
@import "header_footer";
@import "body";

.record-panel.empty:not(.edit) {
  display: none;
}

.record-panel {

  > .neck {
    background-color: red;
    color: white;
    padding: 2px;
    margin: 2px;
  }

  > .content {

    > .secondary {


    }

    > .secondary:not(:hover) .record-panel:not(.active) .content {
      display: none;
    }
  }

  > .record-header {
    > .title {
      overflow-x: hidden;
    }
  }
}

.secondary {
  > section {
    margin: 4px 0;
    > .header {
      font-style: italic;
      color: gray;
      /* border-bottom: #d3d3d3 solid thin; */
    }
    > ul {
      list-style: none;
      padding-left: 0;
      margin: 4px 0;
      max-height: 16em;
      overflow-y: auto;

      > li {
        margin: 2px 0;
      }
    }
  }

  > .activity {

  }
}

.record-item {
  margin: 4px 0;

  > .content {
    padding-left: 27px;
    font-size: 90%;
    color: gray;
    margin: 4px 0;
  }
}

.secondary-hovercard {
  border: solid 4px #69748C;
  width: 300px;
  min-height: 115px;
  background-color: white;
  padding: 4px;
}

.record-panel.new-record {
  > .content {
    overflow-y: auto; // prevent overflowing
  }
}



#field-table {
  td {
    text-align: center;
  }
  td:last-child {
    text-align: left;
  }
}

.select-record {

}


#field-display-dialog {
  > .content {
    overflow: auto;
    max-width: 400px;
    max-height: 400px;
  }
}

.ydn-crm

.relationships-panel {
  > .content {
    min-height: 24px; /* make no height by adding first item */
  }

  .relationship-item {
    display: inline-block;
    border: thin solid transparent;

    border-radius: 4px;

    .clear {
      display: inline-block;

      width: 16px;
      height: 16px;
      border-radius: 50%;
      box-sizing: border-box;
      font-weight: bold;
      color: #808080;
      text-align: center;
      margin-left: 4px;
      cursor: pointer;

    }

    .clear:hover {
      color: white;
      background-color: red;

    }
  }
  .relationship-item:hover {
    border: thin solid #add8e6;
  }

  .relationship-item:not(:hover) {
    .clear {
      visibility: hidden;

    }
  }
}

.record-patch-compare {
  > div {
    border: thin solid lightgray;
    padding: 4px;
  }

  > div:last-child {
    border-left: none;
  }

  pre {
    overflow: auto;
  }
}

.record-patch-note {
  margin: 8px 0;
  font-style: italic;
}
