/* Record */

@import "field";
@import "group";
@import "module";
@import "header_footer";
@import "body";

.record-panel.empty:not(.edit) {
  display: none;
}

.record-panel {
  .secondary {
    margin-left: 4px;
    padding-left: 2px;
    border-left: thin solid lightblue;
  }

  .content {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#field-table {
  td {
    text-align: center;
  }
  td:last-child {
    text-align: left;
  }
}

.select-record {


}
